{% extends 'base.html' %}
{% block title %}:Product list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for product in prd_list %}
                <div class="col-xs-6 col-lg-4">
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.desc }}  </p>
                    <p><a href="{{ jira_url }}/browse/{{ product.jira }}">Jira Project URL</a></p>
                    <p><a href="{{ product.wiki_url }}">Project Wiki(confluence) </a></p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    <p><a class="btn btn-default" href="#" role="button">Create build &raquo;</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
