{% extends 'base.html' %}
{% block title %}:Build list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Build list</h2>
            <div class="table-responsive">
                {% for rec in object_list %}

                    {% if forloop.first %}
                        <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Release</th>
                            <th>Product</th>
                            <th>Build Jira Task</th>
                            <th>Release Date</th>
                            <th>Author</th>
                        </tr>
                    {% endif %}
                <tr {% if rec.is_active %}class="success"{% endif %}>
                    <td>{{ rec.name }}</td>
                    <td>{{ rec.release }}</td>
                    <td>{{ rec.release.product }}</td>
                    <td>{{ rec.jira }} </td>
                    <td>{{ rec.date_released| date }}</td>
                    <td>{{ rec.author }}</td>
                </tr>
                {% if forloop.last %}
                    </table>
                {% endif %}
                {% empty %}
                    <p>No releases yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
