{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Build list{% endblock %}
{% block header %}Build list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
          <div class="panel panel-default">
                <div class="panel-body">
                    {% if perms.prd.add_build %}
                        <a href="{% url 'build-create' product.name %}" class="btn btn-primary"
                           role="button">{% bootstrap_icon 'plus' %}Add new build</a>
                    {% endif %}
                    <a href="{% url 'product-list' %}" class="btn btn-success active" role="button">Back to product
                        list</a>
                </div>
            </div>
            <div class="table-responsive">
                {% for rec in object_list %}
                    {% if forloop.first %}
                        <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Release</th>
                            <th>Product</th>
                            <th>Build Jira Task</th>
                            <th>Release Date</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                    {% endif %}
                <tr {% if rec.released %}class="success"{% endif %}>
                    <td>{{ rec.full_name }}</td>
                    <td>{{ rec.release }}</td>
                    <td>{{ rec.release.product }}</td>
                    <td>{{ rec.get_jira_url|safe }} </td>
                    <td>{{ rec.date_released|date }}</td>
                    <td>{{ rec.author.get_full_name }}</td>
                </tr>
                {% if rec.hotfix_list %}
                    {% for hotfix in rec.hotfix_list %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Hotfix</th>
                                <th>Author</th>
                                <th>Jira HotFix task</th>
                                <th>Release Date</th>
                                <th>Module Revisions</th>
                            </tr>
                            </thead>
                        {% endif %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>{{ hotfix.full_name }}</td>
                            <td>{{ hotfix.author.get_full_name }}</td>
                            <td>{{ hotfix.get_jira_url|safe }}</td>
                            <td>{{ hotfix.date_released|date }}
                            <td> </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if forloop.last %}
                    </table>
                {% endif %}
                {% empty %}
                    <p>No builds yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
