{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Create build for product {% endblock %}
{% block header %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 style="color:red;"><span class="glyphicon glyphicon-plus"></span>
                        Create new build in project {{ project_obj.title }}
                        {% if phase == 2 %}
                            Choose release
                        {% elif phase == 3 %}
                            Set revision for new build {{ build.name }}.
                        {% endif %}
                    </h4>
                </div>
            </div>
            <div class="row">
                    {% if phase == 2 %}
                        <form role="form" action="#" method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form layout='inline' %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "star" %} Submit
                            </button>
                        {% endbuttons %}
                    {% elif phase == 3 %}
                        <form role="form" action="{% url 'create-build2' %}" method="post">
                    {% csrf_token %}
                        {% bootstrap_formset formset layout='horizontal' %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "star" %} Submit
                            </button>
                        {% endbuttons %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
