  {{ range $module := .new_build_module}}
                    <div class="form-group">
                        <label for="hot_rev_{{$module.Name}}"><span class="glyphicon glyphicon-list-alt"></span>
                            Revision for {{$module.Name}}</label>
                        <select class="form-control" id="hot_rev_{{$module.Name}}" name="{{$module.Name}}_revision">
                            {{ range $module.RevisionList}}
                            <option value="{{.ID}}"><b>{{.ShortID}}</b> "{{.Message}}" by {{.AuthorName}}
                                at {{ date .AuthoredDate }}</option>
                            {{ end }}
                        </select>
                    </div>
                    {{ end }}
                    <div class="form-group">
                        <label for="author_hot"><span class="glyphicon glyphicon-eye-open"></span>Author</label>
                        <input type="text" class="form-control" id="author_hot"
                               placeholder="{{.session.user}}<{{.session.email}}>" disabled>
                    </div>