{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Product detail {{ object.title }}{% endblock %}
{% block header %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <table class="table table-responsive">
                <tr>
                    <th colspan="2">Description</th>
                    <td>{{ object.desc }}</td>
                </tr>
                <tr>
                    <th colspan="2">WIKI</th>
                    <td>{{ object.wiki_url_link|safe }}</td>
                </tr>
                {% for rec in release_part %}
                    {% if forloop.first %}
                        <tr align="center">
                            <th colspan="3">Product modules</th>
                        </tr>
                        <tr>
                            <th>Module name</th>
                            <th>Module description</th>
                            <th>Gitlab project URL</th>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ rec.name }}</td>
                        <td>{{ rec.gitlab_project_desc }}</td>
                        <td>{{ rec.gitlab_project_url|urlize }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
