{% extends 'base.html' %}
{% block title %}:Product list{% endblock %}
{% block header %}Product list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if perms.prd.can_add_product %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'create-product' %}" class="btn btn-success active" role="button">Add new product</a>
                    </div>
                </div>
            {% endif %}
            <div class="table-responsive">
                {% for rec in object_list %}
                    {% if forloop.first %}
                        <table class="table table-bordered">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Wiki</th>
                            <th>Jira Project</th>
                            <th>Group</th>
                            <th>Owner</th>
                            <th>Releases</th>
                        </tr>
                    {% endif %}
                <tr {% if rec.is_active %}class="success"{% endif %}>
                    <td>{% if perms.prd.can_modify_product %}<a href="#"> Edit</a>{% endif %}{{ rec.title }}</td>
                    <td>{% if rec.desc %}{{ rec.desc }}{% else %} {% endif %}</td>
                    <td>{% if rec.wiki_url %}
                        <a href="{{ rec.wiki_url }}" target="_blank">{{ rec.wiki_url }}</a>{% endif %}</td>
                    <td>{% if rec.jira %}
                        <a href="{{ jira_url }}projects/{{ rec.jira }}" target="_blank">{{ rec.jira }}</a>
                    {% else %} {% endif %}</td>
                    <td>{{ rec.inst }}</td>
                    <td>{{ rec.owner.get_full_name }}</td>
                    <td><a href="{% url 'release-list-by-product' rec.name %}">Release list</a></td>
                </tr>
                {% if forloop.last %}
                    </table>
                {% endif %}
                {% empty %}
                    <p>No releases yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
