{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Release list{% endblock %}
{% block header %}Release list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if perms.prd.add_release %}
                        <a href="{% url 'release-create' product.name %}" class="btn btn-primary"
                           role="button">{% bootstrap_icon 'plus' %}Add new release</a>
                    {% endif %}
                    <a href="{% url 'product-list' %}" class="btn btn-success active" role="button">Back to product
                        list</a>
                </div>
            </div>
            <div class="table-responsive">
                {% for release in object_list %}

                    {% if forloop.first %}
                        <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Product</th>
                            <th>Jira</th>
                            <th>Release Date</th>
                            <th>Build List</th>
                        </tr>
                    {% endif %}
                <tr {% if release.is_active %}class="success"{% endif %}>
                    <td><a href="{% url 'build-list-by-release' release.pk %}" title="Build list">{{ release.name }}</a>
                    </td>
                    <td>{{ release.product }}</td>
                    <td>{{ release.get_jira_url|safe }} </td>
                    <td>{{ release.date_released|date }}</td>
                    <td><a href="{% url 'build-list-by-release' release.pk %}">Builds list</a></td>
                </tr>
                {% if forloop.last %}
                    </table>
                {% endif %}
                    {% empty %}
                    <p>No releases yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
