{% extends 'base.html' %}
{% block title %}:Release list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Release list</h2>
            <div class="table-responsive">
                {% for release in object_list %}

                    {% if forloop.first %}
                        <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Product</th>
                            <th>Jira</th>
                            <th>Release Date</th>
                        </tr>
                    {% endif %}
                <tr {% if release.is_active %}class="success"{% endif %}>
                    <td>{{ release.name }}</td>
                    <td>{{ release.product }}</td>
                    <td>{{ release.jira }} </td>
                    <td>{{ release.release_date| date }}</td>
                </tr>
                {% if forloop.last %}
                    </table>
                {% endif %}
                {% empty %}
                    <p>No releases yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
