{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Instance list{% endblock %}
{% block header %}Instance list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                {% for rec in object_list %}
                    {% if forloop.first %}
                        <table class="table table-bordered">
                            <tr>
                                <th>Environment</th>
                            </tr>
                    {% endif %}
                            <tr>
                                <td>{{ rec.env }}</td>
                            </tr>
                    {% if forloop.last %}
                        </table>
                    {% endif %}
                {% empty %}
                    <p>No Environment yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
