{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Usage log{% endblock %}
{% block header %}Usage log of stand - [{{ stand_name }}]{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'test-env-list' %}" class="btn btn-success active" role="button">
                    Back to list of stands
                </a>
            </div>
        </div>
        <div class="table-responsive">
            {% for rec in usage_log %}
                {% if forloop.first %}
                    <table class="table table-bordered">
                        <tr>
                            <th>Release</th>
                            <th>Task</th>
                            <th>Start time</th>
                            <th>Status</th>
                            <th>Finish time</th>
                            <th>Duration</th>
                            <!--th>Author</th-->
                        </tr>
                {% endif %}
                <tr {%if rec.status == 'busy'%} class="bg-info" {% endif %}
                    {%if rec.status == 'fail'%} class="bg-danger" {% endif %}
                    {%if rec.status == 'abort'%} class="bg-danger" {% endif %}
                    {%if rec.status == 'timeout'%} class="bg-warning" {% endif %}
                    {%if rec.status == 'completed'%} class="bg-success" {% endif %} >
                    <td>{{ rec.release.name }}</td>
                    <td><a href="{{ rec.task }}">{{ rec.task }}</a></td>
                    <td>{{ rec.started_at }}</td>
                    <td>{{ rec.get_status_display }}</td>
                    <td>{{ rec.finished_at }}</td>
                    <td>{{ rec.duration }}</td>
                    <!--td>{{ rec.author.get_full_name }}</td-->

                </tr>
            {% if forloop.last %}
                </table>
            {% endif %}
            {% empty %}
            <p>No usage log yet.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
