{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Instance list{% endblock %}
{% block header %}Instance list{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if perms.cat.add_webinstance %}
                <div class="panel panel-default">
                    <div class="panel-footer">
                        {% buttons %}
                            <a href="{% url 'webinstance-create' %}" class="btn btn-primary"
                               role="button">{% bootstrap_icon 'plus' %} Add new Web Instance</a>
                        {% endbuttons %}
                    </div>
                </div>
            {% endif %}
            <div class="table-responsive">
                {% for rec in object_list %}
                    {% if forloop.first %}
                        <table class="table table-bordered">
                            <tr>
                                <th>Host</th>
                                <th>Port</th>
                                <th>Managed Server</th>
                                <th>Host login</th>
                                {% if perms.cat.change_webinstance %}
                                    <th>Edit</th>
                                {% endif %}
                                {% if perms.cat.delete_webinstance %}
                                    <th>Delete</th>
                                {% endif %}
                            </tr>
                    {% endif %}
                            <tr>
                                <td><a href="{% url 'webinstance-detail' rec.pk %}">{{ rec.host }}</a></td>
                                <td>{{ rec.port}}</td>
                                <td>{{ rec.target_server }}</td>
                                <td>{{ rec.host_login}}</td>
                                    {% if perms.cat.change_webinstance %}
                                        <td>
                                            {% buttons %}
                                                <a href="{% url 'webinstance-update' rec.pk %}"
                                                   class="btn btn-warning btn-sm">{% bootstrap_icon "edit" %}
                                                </a>
                                            {% endbuttons %}
                                        </td>
                                    {% endif %}
                                    {% if perms.cat.delete_webinstance %}
                                        <td>
                                            {% buttons %}
                                                <a href="{% url 'webinstance-delete' rec.pk %}"
                                                   class="btn btn-warning btn-sm">{% bootstrap_icon "remove" %}
                                                </a>
                                            {% endbuttons %}
                                        </td>
                                    {% endif %}

                            </tr>
                    {% if forloop.last %}
                        </table>
                    {% endif %}
                {% empty %}
                    <p>No Instance yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
