{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Jira task list filters{% endblock %}
{% block header %}Jira task list filters{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if perms.rpt.add_jirafilter %}
                        <a href="{% url 'jira-filter-add' %}" class="btn btn-primary"
                           role="button">{% bootstrap_icon 'plus' %}Add new Jira Filter</a>
                    {% endif %}
                </div>
            </div>
            <div class="table-responsive">
                {% for rec in object_list %}
                    {% if forloop.first %}
                        <table class="table">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Jira Filter</th>
                            <th>Interval</th>
                            <th>Download</th>
                            <th>Send email</th>
                        </tr>
                        </thead>
                    {% endif %}
                    <tr>
                        <td>|
                            <a href="{% url 'jira-filter-delete' rec.pk %}">Remove</a> |
                        </td>
                        <td>{% for rec2 in jira_list %}{% if rec2.0 == rec.jira_filter %}<a href="{{ rec.jira_url|safe }}">{{ rec2.1 }}({{ rec2.0 }})</a>{% endif %}{% endfor %}</td>
                        <td>{{ rec.get_interval_display }}</td>
                        <td><a href="{% url 'download-excel' rec.jira_filter %}">Download</a></td>
                        <td><a href="{% url 'email-excel' rec.jira_filter %}">Send</a></td>

                    </tr>
                {% empty %}
                    Not yet saved Jira Filters
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
