{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Jira filter management{% endblock %}
{% block header %}Jira filter management{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'jira-filter-list' %}" class="btn btn-success active" role="button">Back to Jira
                        filter list</a>
                </div>
            </div>
            <form action="" method="post" class="form">{% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
