{% extends 'base.html' %}
{% block title %}:Index{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for product in prd_list %}
                <div class="col-xs-6 col-lg-4">
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.desc }}  </p>
                    <p><a href="{{ jira_url }}/browse/{{ product.jira }}">Jira Project URL</a></p>
                    <p><a href="{{ product.wiki_url }}">Project Wiki(confluence) </a></p>
                    <p><a class="btn btn-info" href="{% url 'product-detail' product.pk %}" role="button">View details
                        &raquo;</a></p>
                    {% if perms.prd.add_build %}
                        <p><a class="btn btn-success" href="{% url 'create-build' product.name %}" role="button">Create
                            build &raquo;</a></p>
                    {% endif %}
                    {% if perms.prd.add_hotfix %}
                        <p><a class="btn btn-success" href="{% url 'hotfix-create' %}" role="button">Create
                            hotfix &raquo;</a></p>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
