{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:Management of Environment{% endblock %}
{% block header %}Management of environment{% endblock %}
{% block content %}
<style>
    .add-row {
        padding-left:18px;
    }
    .delete-row {
        float:right;
        display:block;
        padding-left:18px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'env-list' %}" class="btn btn-success active" role="button">
                    Back to list of environments
                </a>
            </div>
        </div>
        <form action="" method="post" class="form" id="myForm">{% csrf_token %}
            {% bootstrap_form form %}

            <div  class="panel panel-default">
                DataBase Instance : </br> </br>
                <div id="db" class="panel-body">
                    {% bootstrap_formset formsetdb layout='horizontal'  %}
                </div>
            </div>
            <script type="text/javascript">
              $(function() {
                $('#db').formset({
                  prefix: '{{ formsetdb.prefix }}',
                  addText: 'Add another',
                  deleteText: 'Delete',
                });
              })
            </script>

            <div  class="panel panel-default">
                Weblogic Instance : </br> </br>
                <div id="web" class="panel-body">
                    {% bootstrap_formset formsetweb layout='horizontal' %}
                </div>
            </div>
            <script type="text/javascript">
              $(function() {
                $('#web').formset({
                  prefix: '{{ formsetweb.prefix }}',
                  addText: 'Add another',
                  deleteText: 'Delete',
                });
              })
            </script>

            <div class="panel panel-default">
                StandAlone Instance: </br> </br>
                <div id="stln" class="panel-body">
                    {% bootstrap_formset formsetstln layout='horizontal' %}
                </div>
            </div>
            <script type="text/javascript">
              $(function() {
                $('#stln').formset({
                   prefix: '{{ formsetstln.prefix }}',
                   addText: 'Add another',
                   deleteText: 'Delete',
                });
              })
            </script>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        </form>

    </div>
</div>

{% endblock %}
