{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}:List of Environments{% endblock %}
{% block header %}List of Environments:{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if perms.envrnmnt.add_stlninstance %}
                <div class="panel panel-default">
                    <div class="panel-footer">
                        {% buttons %}
                            <a href="{% url 'env-create' %}" class="btn btn-primary"
                               role="button">{% bootstrap_icon 'plus' %} Add new Environment</a>
                        {% endbuttons %}
                    </div>
                </div>
            {% endif %}
            <div class="table-responsive">
                {% for rec in object_list %}
                    {% if forloop.first %}
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Active</th>
                                <th>Oracle DB Instance</th>
                                <th>Weblogic Instance</th>
                                <th>Standalone Instance</th>
                                {% if perms.envrnmnt.change_environment %}
                                    <th>Edit</th>
                                {% endif %}
                                {% if perms.envrnmnt.delete_environment%}
                                    <th>Delete</th>
                                {% endif %}
                            </tr>
                    {% endif %}
                            <tr {% if rec.is_active == False %} style="color:#d3d3d3;" {% endif %}>
                                <td><a href="{% url 'env-detail' rec.pk %}">{{ rec.name }}</a></td>
                                <td>{{ rec.is_active}}</td>
                                <td>
                                    {% if rec.dbinstances.all %}
                                    {% for db in rec.dbinstances.all %}
                                        {{ db.login }}/{{ db.passwd }}@{{ db.host }}:{{ db.port }}/{{ db.sid }}</br>
                                    {% endfor %}
                                    {% else %}
                                     N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rec.webinstances.all %}
                                        {% for web in rec.webinstances.all %}
                                            t3://{{ web.host }}:{{ web.port }} </br>
                                        {% endfor %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rec.stlninstances.all %}
                                        {% for st in rec.stlninstances.all %}
                                            {{ st.user }}@{{ st.host }} </br>
                                        {% endfor %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                {% if perms.envrnmnt.change_environment %}
                                    <td>
                                        {% buttons %}
                                            <a href="{% url 'env-update' rec.pk %}"
                                               class="btn btn-warning btn-sm">{% bootstrap_icon "edit" %}
                                            </a>
                                        {% endbuttons %}
                                    </td>
                                {% endif %}
                                {% if perms.envrnmnt.delete_environment %}
                                    <td>
                                        {% buttons %}
                                            <a href="{% url 'env-delete' rec.pk %}"
                                               class="btn btn-danger btn-sm">{% bootstrap_icon "remove" %}
                                            </a>
                                        {% endbuttons %}
                                    </td>
                                {% endif %}

                            </tr>
                    {% if forloop.last %}
                        </table>
                    {% endif %}
                {% empty %}
                    <p>No Instance yet.</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
